#align {
		display:table-cell;
		padding : 10px;
}

.top {
	display:table-cell;
	padding :5px;
}

.bot {
	display:table-cell;
	padding :5px;
}

#video {
	position:absolute;
	left : 20;
}

#cv2 {
	opacity:0.8;
	background: transparent;
}
